trigger:
  branches:
    include:
      - main

pool:
  name: Default   # or your self-hosted agent pool name

variables:
  imageName: 'docker-demo'
  tag: '$(Build.BuildId)'

steps:

# Step 1: Checkout code
- checkout: self
  displayName: 'Checkout GitHub Repository'

# Step 2: Maven build
- task: Maven@3
  displayName: 'Build Java App using Maven'
  inputs:
    mavenPomFile: 'pom.xml'
    goals: 'clean package'
    javaHomeOption: 'JDKVersion'
    jdkVersionOption: '1.17'
    mavenVersionOption: 'Default'
    publishJUnitResults: false

# Step 3: Docker build
- task: Docker@2
  displayName: 'Build Docker Image'
  inputs:
    command: 'build'
    Dockerfile: 'Dockerfile'
    tags: |
      $(tag)
    repository: $(imageName)
